@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url(../../assets/fonts/AvenirNextLTPro.ttf) format('ttf') local(Avenir Next LT Pro);
    font-weight: 400;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url(../../assets/fonts/AvenirNextLTProDemi.ttf) format('ttf') local(Avenir Next LT Pro Demi);
    font-weight: 600;
}

@font-face {
    font-family: 'Avenir Next LT Pro';
    src: url(../../assets/fonts/AvenirNextLTProBold.ttf) format('ttf') local(Avenir Next LT Pro Bold);
    font-weight: 700;
}


// @font-face {
//     font-family: 'YourFontName'; /* Replace with your font name */
//     src: url('../assets/fonts/YourFontFile.woff2') format('woff2'), /* Replace with your font file name */
//          url('../assets/fonts/YourFontFile.woff') format('woff'); /* Add more sources as needed */
//     font-weight: normal;
//     font-style: normal;
// }