@import './variables';

%align-center {
    display: flex;
    align-items: center;
}
.navbar {
    background-color:$BandSite-Black;
    height: 60px;
    position: relative;


    @include tablet {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }

    &__logo {
        justify-content: center;
        display:flex;
        margin: 10px 0px 3px 0px;
        width: 100%;
        max-width: 120px;
        max-height: 20px;

        &--icon {
            max-width: 120px;
            max-height: 20px;
            justify-content: center;
        }

        @include tablet {
            justify-content: left;
            display: flex;
            margin: 0px 35px;
            padding: 0px;
        }
    }
    &__menu {
        align-items: center;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            align-items: center;
        }
}

    &__items {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            

            // &:active {
            //     color:$White;
            //     text-decoration: underline;

            @include tablet {
                width: 200px;
            }
    }

    &__link {
        text-decoration: none;
        color:$Mercury;
        font-size: 13px;
        justify-items: center;
        width: 100%;
        text-align: center;
        // justify-content: space-between;

        &:active {
            color:$White;
            font-weight: 700;
            text-decoration: underline;
            font-size: 13px;
        }
    }
}
