@import './variables';

%align-center {
    display: flex;
    align-items: center;
}
.navbar {
    background-color:$BandSite-Black;
    height: 6em;
    position: relative;


    @include tablet {
        display: flex;
        justify-content: flex-start;
        gap: 20px;
    }

    &__logo {
        justify-content: center;
        display:flex;
        margin-top: 1.25em;
        width: 100%;
        max-width: 12em;
        max-height: 1.5em;

        &--icon {
            max-width: 12em;
            max-height: 1.5em;
            justify-content: center;
        }

        @include tablet {
            justify-content: left;
            display: flex;
            margin: 0px 35px;
            padding: 0px;
        }
    }
    &__menu {
        align-items: center;
        width: 100%;
        // padding-left: 16px;
        // padding-right: 16px;
        // padding-top: 1.75em;
        margin-bottom: 1.75em;
        display: flex;
        flex-direction: column;

        @include tablet {
            flex-direction: row;
            align-items: center;
        }
}

    &__items {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            

            // &:active {
            //     color:$White;
            //     text-decoration: underline;

            @include tablet {
                width: 200px;
            }
    }

    &__link {
        text-decoration: none;
        color:$Mercury;
        // font-size: 1.2em;
        justify-items: center;
        width: 100%;
        text-align: center;
        line-height: 3.1em;
        // padding: .25em;

        @include tablet {
            // padding: 1em;
        // justify-content: space-between;
        }

        &.active {
            color:$White;
            border-bottom:$White .2em solid;
        }
    }
}
