@import './variables';

%align-center {
    display: flex;
    align-items: center;
}
.navbar {
    background-color:$BandSite-Black;
    height: 80px;
    // display: inline-block;
    position: relative;
    max-width: 767px;
    min-width: 320px;

    &__logo {
        justify-content: center;
        display: flex;

        &--icon {
            max-width: 120px;
            max-height: 20px;
            justify-content: center;
            @extend %align-center;
        }
    }
    &__menu {
        // display: grid;
        // grid-template-columns: 1fr 1fr;
        // display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;

        &--links {
            text-decoration: none;
            color:$Mercury;
            width: 50%;
            // width: max-content;
            // @extend %align-center;

            &:active {
                color:$White;
                text-decoration: underline;
            }
        }
    }
}
