@import "./media-queries";
@import "./fonts";

// Website Colors
$BandSite-Black:#323232;
$Silver: #AFAFAF;
$White:#FFFFFF;
$BandSite-DarkBlack:#000000;
$Mercury: #E1E1E1;
$Alabaster:#FAFAFA;

// Primary Colors
$primary-text-color: #323232;
$primary-text-color-dark: #000000;
$secondary-text-color: #AFAFAF;
$light-background-color: #FFFFFF;

// Secondary Colors
$divider-color: #E1E1E1;
$light-background-color-alt: #FAFAFA;

// Type Kit
// Typeface & Weights
$font-face-avenir: "Avenir Next LT Pro";
$font-weight-regular: 400;
$font-weight-demi: 600;
$font-weight-bold: 700;


// Padding
$padding-before-headlines-desktop: 48px;
$padding-after-headlines-desktop: 36px;
$padding-between-components-desktop: 36px;

$padding-headlines-mobile: 1em 1em 1em 1em;
$padding-headlines-tablet: 1em 1em .2em 1.8em;
$padding-headlines-desktop: 1em 0 .3em 0;

$padding-between-components-mobile: 16px;
$padding-before-headlines-mobile: 24px;
$padding-after-headlines-mobile: 16px;

$page-header-font-size-mobile: 2em;
$page-header-line-height-mobile: 1.2em;
$page-header-font-weight-mobile: 700;

$page-header-font-size-desktop: 4em;
$page-header-line-height-desktop: 68px;

$section-header-font-size-desktop: 2.2em;

$section-header-font-size-mobile: 1.5em;
$section-header-line-height-mobile: 2.2em;
$section-header-font-weight-mobile: 700;

$section-header-line-height-desktop: 2.5em;

$subheader-font-size-desktop: 24px;
$subheader-line-height-desktop: 32px;
$footer-copy-line-height-desktop: 20px;
$labels-buttons-font-size-desktop: 12px;
$labels-buttons-line-height-desktop: 20px;


$body-copy-font-size-mobile: .7em;
$body-copy-line-height-mobile: 1.45em;
$body-copy-font-weight-mobile: 400;

$body-copy-font-size-desktop: 14px;
$body-copy-line-height-desktop: 22px;
$footer-copy-font-size-desktop: 14px;

// Mobile Text Styles
$subheader-font-size-mobile: 1em;
$subheader-line-height-mobile: 1.75em;
$subheader-font-weight-mobile: 600;
$footer-copy-font-size-mobile: 13px;
$footer-copy-line-height-mobile: 18px;
$footer-copy-font-weight-mobile: 400;
$labels-buttons-font-size-mobile: 10px;
$labels-buttons-line-height-mobile: 20px;
$labels-buttons-font-weight-mobile: 700;

// Website Colors
// Primary Colors
$primary-text-color: #323232;
$primary-text-color-dark: #000000;
$secondary-text-color: #AFAFAF;
$light-background-color: #FFFFFF;

// Secondary Colors
$divider-color: #E1E1E1;
$light-background-color-alt: #FAFAFA;

// Iconography
// Button Dimensions
$button-height: 2.7em;
$button-min-width-desktop: 10em;
$button-padding-desktop: 0 2em;
$button-width-mobile: 100%;

// Button Radius
$button-radius: 4px;

// Primary CTA Colors
$primary-cta-text-color-default: #FFFFFF;
$primary-cta-background-color-default: #323232;
$primary-cta-text-color-hover: #FFFFFF;
$primary-cta-background-color-hover: #000000;

// BandSite Logo
$logo-background-color: #323232;
$logo-max-height: 20px;
$logo-max-width: 120px;

// Navigation
$navigation-inactive-link-color: #E1E1E1;
$navigation-active-link-color: #FFFFFF;
$navigation-underline-color: #FFFFFF;
$navigation-underline-width-min: 1;
$navigation-underline-width-max: auto;

// Dividers
$divider-stroke-width: 1px;
$divider-fill-color:$Mercury;
$divider-combined: 1px solid $Mercury;

// Form Fields
$form-field-width: 100%;
$form-field-radius: .25em;
$form-field-label-spacing: 4px;
$form-field-border-default: 1px solid #E1E1E1;
$form-field-border-active: 1px solid #323232;
$form-field-border-error: 1px solid #D22D2D;

$form-field-min-height-mobile: 8em;
$form-field-padding-mobile: .75em;

$form-field-min-height-desktop: 7em;
$form-field-padding-desktop: 1em;

// Tables
$table-row-padding-desktop: 24px 18px;
$table-row-padding-mobile: 16px;
$table-row-selected-background: #E1E1E1; // Mercury
$table-row-hover-background: #FAFAFA; // Alabaster

// Avatars
$avatar-border-radius: 50%;
$avatar-max-size-desktop: 48px;
$avatar-max-size-mobile: 36px;
$avatar-placeholder-color: #E1E1E1; // Mercury

// Hero Image Overlay
$hero-overlay-color: rgba(0, 0, 0, 0.5);