@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTPro.ttf) format("ttf") local(Avenir Next LT Pro);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProDemi.ttf) format("ttf") local(Avenir Next LT Pro Demi);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProBold.ttf) format("ttf") local(Avenir Next LT Pro Bold);
  font-weight: 700;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTPro.ttf) format("ttf") local(Avenir Next LT Pro);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProDemi.ttf) format("ttf") local(Avenir Next LT Pro Demi);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProBold.ttf) format("ttf") local(Avenir Next LT Pro Bold);
  font-weight: 700;
}
.navbar {
  background-color: #323232;
  height: 5.7em;
  position: relative;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    height: 5.2em;
  }
}
.navbar__logo {
  justify-content: center;
  display: flex;
  margin-top: 1.25em;
  width: 100%;
  max-width: 12em;
  max-height: 1.5em;
}
.navbar__logo--icon {
  max-width: 12em;
  max-height: 1.5em;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .navbar__logo {
    justify-content: left;
    display: flex;
    margin: 0px 35px;
    padding: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__logo {
    margin: 0;
  }
}
.navbar__menu {
  align-items: center;
  width: 100%;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .navbar__menu {
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__menu {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }
}
.navbar__items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .navbar__items {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.navbar__link {
  text-decoration: none;
  color: #E1E1E1;
  justify-items: center;
  width: 100%;
  text-align: center;
  line-height: 2.8em;
}
@media screen and (min-width: 768px) {
  .navbar__link {
    margin-right: 3em;
    line-height: 5em;
  }
}
.navbar__link.active {
  color: #FFFFFF;
  border-bottom: #FFFFFF 0.3em solid;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTPro.ttf) format("ttf") local(Avenir Next LT Pro);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProDemi.ttf) format("ttf") local(Avenir Next LT Pro Demi);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProBold.ttf) format("ttf") local(Avenir Next LT Pro Bold);
  font-weight: 700;
}
.footer {
  background-color: #323232;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0px;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
  }
}
.footer__menu {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.footer__social {
  justify-content: space-between;
  display: flex;
  max-width: 120px;
  max-height: 20px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    justify-content: left;
    display: flex;
    margin: 0px 35px;
    padding: 0px;
  }
}
.footer__social--icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__social--icons {
    width: 200px;
    padding-left: 10px;
  }
}
.footer__management {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .footer__management {
    flex-direction: row;
  }
}
.footer__locations {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__locations {
    width: 30%;
  }
}
.footer__header {
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer__header {
    font-size: 36px;
    line-height: 44px;
    padding-left: 36px;
  }
}
.footer__copy {
  text-decoration: none;
  color: #FFFFFF;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTPro.ttf) format("ttf") local(Avenir Next LT Pro);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProDemi.ttf) format("ttf") local(Avenir Next LT Pro Demi);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProBold.ttf) format("ttf") local(Avenir Next LT Pro Bold);
  font-weight: 700;
}
body {
  font-family: "Avenir Next LT Pro";
  font-size: 0.7em;
  line-height: 1.45em;
  font-weight: 400;
  color: #323232;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 22px;
  }
}

page-header {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 700;
  color: #FFFFFF;
  margin-left: 1em;
}
@media screen and (min-width: 768px) {
  page-header {
    font-size: 4em;
    line-height: 68px;
    margin-left: 1em;
  }
}
@media screen and (min-width: 1280px) {
  page-header {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

section-header {
  font-size: 1.5em;
  line-height: 2.2em;
  font-weight: 700;
  color: #000000;
  padding: 1em 1em 1em 1em;
  display: block;
}
@media screen and (min-width: 768px) {
  section-header {
    font-size: 2.2em;
    line-height: 2.5em;
    padding: 1em 1em 0.2em 1.8em;
  }
}
@media screen and (min-width: 1280px) {
  section-header {
    width: 1100px;
    padding: 1em 0 0.3em 0;
    margin-left: auto;
    margin-right: auto;
  }
}

sub-header {
  font-size: 1em;
  line-height: 1.75em;
  font-weight: 600;
  color: #000000;
}
@media screen and (min-width: 768px) {
  sub-header {
    font-size: 24px;
    line-height: 32px;
  }
}

.subcopy {
  font-size: 14px;
  color: #000000;
}

* {
  box-sizing: border-box;
}

.hero {
  position: relative;
  background-image: url(../assets/images/hero-bio.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.5);
}
.hero__container {
  display: flex;
  align-items: center;
  height: 40vh;
  position: relative;
}

.about {
  background-color: #FFFFFF;
  margin-bottom: 24px;
}
@media screen and (min-width: 768px) {
  .about {
    margin-bottom: 36px;
  }
}
.about__container {
  margin: auto;
  width: 90%;
}
@media screen and (min-width: 768px) {
  .about__container {
    width: 80%;
  }
}
.about__image--small {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  max-height: 350px;
}
.about__quote {
  margin-top: 0.7em;
  margin-bottom: 1.5em;
  font-size: 1em;
  line-height: 1.75em;
  font-weight: 600;
  color: #000000;
}
@media screen and (min-width: 768px) {
  .about__quote {
    margin-top: 16px;
    margin-bottom: 36px;
  }
}
.about__paragraphs {
  display: inline-block;
}
@media screen and (min-width: 768px) {
  .about__paragraphs {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    padding-right: 15px;
  }
}

.photo-gallery {
  background-color: #FAFAFA;
  padding-top: 10px;
}
.photo-gallery__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 15px;
}
.photo-gallery__item {
  width: 100%;
  box-sizing: border-box;
  padding: 8px 16px;
}
@media screen and (min-width: 768px) {
  .photo-gallery__item {
    width: 30%;
  }
}
.photo-gallery__image {
  max-width: 100%;
  height: auto;
  display: block;
}

@media screen and (min-width: 768px) {
  .comment-section {
    margin-left: auto;
    margin-right: auto;
    max-width: 40em;
  }
}

.comment-form {
  align-items: end;
  margin: auto;
  padding: 1em 1em 1em 5em;
}
.comment-form__label {
  font-family: "Avenir Next LT Pro";
  color: #AFAFAF;
  font-size: 0.8em;
}
.comment-form__input {
  font-family: "Avenir Next LT Pro";
  color: #000000;
  font-size: 1em;
  width: 100%;
  min-height: 36px;
  border: 1px solid #E1E1E1;
  border-radius: 0.25em;
  padding: 0.75em;
  margin-bottom: 1em;
}
@media screen and (min-width: 768px) {
  .comment-form__input {
    height: 3em;
  }
}
.comment-form__input::-moz-placeholder {
  color: #000000;
  padding-left: 0.3em;
}
.comment-form__input::placeholder {
  color: #000000;
  padding-left: 0.3em;
}
.comment-form__textarea {
  font-family: "Avenir Next LT Pro";
  color: #323232;
  font-size: 1em;
  width: 100%;
  min-height: 8em;
  border: 1px solid #E1E1E1;
  border-radius: 0.25em;
  padding: 0.75em;
  resize: none;
}
@media screen and (min-width: 768px) {
  .comment-form__textarea {
    min-height: 7em;
    padding: 1em;
  }
}
.comment-form__textarea::-moz-placeholder {
  color: #000000;
  padding-left: 0.3em;
}
.comment-form__textarea::placeholder {
  color: #000000;
  padding-left: 0.3em;
}
.comment-form__button {
  display: inline;
  color: #FFFFFF;
  background-color: #323232;
  width: 100%;
  height: 2.7em;
  border-radius: 4px;
  margin-top: 24px;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .comment-form__button {
    width: 10em;
    padding: 0 2em;
    display: block;
    margin: 10px 0 10px auto;
  }
}

.comment-list {
  background-color: #FFFFFF;
  padding: 1em;
  border-bottom: 2px solid #E1E1E1;
}
.comment-list__item {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  border-top: 2px solid #E1E1E1;
}
.comment-list__name {
  color: #000000;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.3em;
  padding-left: 3.4em;
}
.comment-list__timestamp {
  color: #AFAFAF;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.3em;
}
.comment-list__review {
  color: #323232;
  width: 100%;
  margin-bottom: 1em;
  padding-left: 4em;
}