@import './partials/variables';
@import './partials/navbar';

* {
    box-sizing: border-box;
}


.hero {
    position: relative;
    background-image: url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &::before { 
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(50, 50, 50, 0.5);
    }

    &__container {
        display: flex;
        align-items: center;
        height: 40vh;
        position: relative;
    }
}

.about {
    background-color: $White;

    &__container {
    margin: auto;
    width: 90%;
    
        @include tablet {
            width: 80%;
        }
    }

    &__image--small {
            object-fit: cover;
            width: 100%;
            max-height: 350px;
        }

    &__paragraphs {
        display: flex;

        @include tablet {
        display: inline-block;
        width: 45%;
        }
    }
}

.photo-gallery {
    background-color:$Mercury;
    padding-top: 16px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        padding: auto;
    }

    &__item {
        width: 100%;
        box-sizing: border-box;
        padding:8px 16px;
        
        @include tablet {
            width: 30%;
        }
    }

    &__image {
        max-width: 100%;
        height: auto;
        display: block;
    }
}