@import './partials/variables';
@import './partials/navbar';
@import './partials/footer';
@import './partials/main';

* {
    box-sizing: border-box;
}


.hero {
    position: relative;
    background-image: url(../assets/images/hero-bio.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    &::before { 
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(50, 50, 50, 0.5);
    }

    &__container {
        display: flex;
        align-items: center;
        height: 40vh;
        position: relative;
    }
}

.about {
    background-color: $White;
    margin-bottom: 24px;
    
        @include tablet {
            margin-bottom: 36px;
        }

    &__container {
    margin: auto;
    width: 90%;
    
        @include tablet {
            width: 80%;
        }
    }

    &__image--small {
            object-fit: cover;
            width: 100%;
            max-height: 350px;
        }

        &__quote {
            margin-top: .7em;
            margin-bottom: 1.5em;
            font-size:$subheader-font-size-mobile;
            line-height:$subheader-line-height-mobile;
            font-weight:$subheader-font-weight-mobile;
            color:$BandSite-DarkBlack;

            @include tablet {
                margin-top: 16px;
                margin-bottom: 36px;
            }
        }

    &__paragraphs {
            display: inline-block;


        @include tablet {
            display: flex;
            justify-content: space-between;
            width: 100%;
        }
    }

    &__text {
        
        @include tablet {
            padding-right: 15px;
        }
    }
}

.photo-gallery {
    background-color:$Alabaster;
    padding-top: 10px;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
        margin-bottom: 15px;
    }
    

    &__item {
        width: 100%;
        box-sizing: border-box;
        padding:8px 16px;
        
        @include tablet {
            width: 30%;
        }
    }

    &__image {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

.comment-section {

    @include tablet {
        margin-left: auto;
        margin-right: auto;
        max-width: 40em;
    }

    // @include desktop {
    //     margin-left: auto;
    //     margin-right: auto;
    //     max-width: 540px;
    // }

}

.comment-form {
    // width: 100%;
    align-items: end;
    margin: auto;
    padding: 1em 1em 1em 5em;
    
    @include tablet {}

    &__label {
        font-family:$font-face-avenir;
        color:$Silver;
        font-size: .8em;
    }

    &__input {
        font-family:$font-face-avenir;
        color:$BandSite-DarkBlack;
        font-size: 1em;
        width: 100%;
        min-height: 36px;
        border: 1px solid $Mercury;
        border-radius:$form-field-radius;
        padding: $form-field-padding-mobile;
        margin-bottom: 1em;

        @include tablet {
            height: 3em;
        }

        &::placeholder {
            color:$BandSite-DarkBlack;
            padding-left: .3em;
        }
    }

    // input[type=review]
    &__textarea {
        font-family:$font-face-avenir;
        color:$BandSite-Black;
        font-size: 1em;
        width:$form-field-width;
        min-height:$form-field-min-height-mobile;
        border:$form-field-border-default;
        border-radius:$form-field-radius;
        padding:$form-field-padding-mobile;
        resize: none;

        @include tablet {
            min-height:$form-field-min-height-desktop;
            padding:$form-field-padding-desktop;
        }

        &::placeholder {
            color:$BandSite-DarkBlack;
            padding-left: .3em;
        }
    }

    &__button {
        display:inline;
        color:$primary-cta-text-color-default;
        background-color:$primary-cta-background-color-default;
        width:$button-width-mobile;
        height:$button-height;
        border-radius:$button-radius;
        margin-top: 24px;
        cursor: pointer;

        @include tablet {
            width:$button-min-width-desktop;
            padding:$button-padding-desktop;
            display: block;
            margin: 10px 0 10px auto;
        }
    }
}

.comment-list {
    background-color: $White;
    padding: 1em;
    border-bottom: 2px solid $Mercury;

    &__item {
        text-decoration: none;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        border-top: 2px solid $Mercury;
    }

    // &__avatar-blank {
    //     width: 36px;
    //     height: 36px;
    //     border-radius: 50%;
    //     background-color:$Mercury;
    //     margin-right: 10px;
    
    //     @include tablet {
    //         width: 48px;
    //         height: 48px;
    //     }
    // }

    &__name {
        color:$BandSite-DarkBlack;
        display:inline-flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.3em;
        padding-left: 3.4em;
    }

    &__timestamp {
        color:$secondary-text-color;
        display:inline-flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 1.3em;
    }
    
    &__review {
        color:$BandSite-Black;
        width: 100%;
        margin-bottom: 1em;
        padding-left: 4em;
    }
}