@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTPro.ttf) format("ttf") local(Avenir Next LT Pro);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProDemi.ttf) format("ttf") local(Avenir Next LT Pro Demi);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProBold.ttf) format("ttf") local(Avenir Next LT Pro Bold);
  font-weight: 700;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTPro.ttf) format("ttf") local(Avenir Next LT Pro);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProDemi.ttf) format("ttf") local(Avenir Next LT Pro Demi);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProBold.ttf) format("ttf") local(Avenir Next LT Pro Bold);
  font-weight: 700;
}
body {
  font-family: "Avenir Next LT Pro";
  font-size: 0.7em;
  line-height: 1.45em;
  font-weight: 400;
  color: #323232;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 14px;
    line-height: 22px;
  }
}

page-header {
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 700;
  color: #FFFFFF;
  margin-left: 1em;
}
@media screen and (min-width: 768px) {
  page-header {
    font-size: 4em;
    line-height: 68px;
    margin-left: 1em;
  }
}
@media screen and (min-width: 1280px) {
  page-header {
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
}

section-header {
  font-size: 1.5em;
  line-height: 2.2em;
  font-weight: 700;
  color: #000000;
  padding: 1em 1em 1em 1em;
  display: block;
}
@media screen and (min-width: 768px) {
  section-header {
    font-size: 2.2em;
    line-height: 2.5em;
    padding: 1em 1em 0.2em 1.8em;
  }
}
@media screen and (min-width: 1280px) {
  section-header {
    width: 1100px;
    padding: 1em 0 0.3em 0;
    margin-left: auto;
    margin-right: auto;
  }
}

sub-header {
  font-size: 1em;
  line-height: 1.75em;
  font-weight: 600;
  color: #000000;
}
@media screen and (min-width: 768px) {
  sub-header {
    font-size: 24px;
    line-height: 32px;
  }
}

.subcopy {
  font-size: 14px;
  color: #000000;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTPro.ttf) format("ttf") local(Avenir Next LT Pro);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProDemi.ttf) format("ttf") local(Avenir Next LT Pro Demi);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProBold.ttf) format("ttf") local(Avenir Next LT Pro Bold);
  font-weight: 700;
}
.navbar {
  background-color: #323232;
  height: 5.7em;
  position: relative;
}
@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    height: 5.2em;
  }
}
.navbar__logo {
  justify-content: center;
  display: flex;
  margin-top: 1.25em;
  width: 100%;
  max-width: 12em;
  max-height: 1.5em;
}
.navbar__logo--icon {
  max-width: 12em;
  max-height: 1.5em;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .navbar__logo {
    justify-content: left;
    display: flex;
    margin: 0px 35px;
    padding: 0px;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__logo {
    margin: 0;
  }
}
.navbar__menu {
  align-items: center;
  width: 100%;
  margin-bottom: 1.5em;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .navbar__menu {
    flex-direction: row;
    align-items: center;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  .navbar__menu {
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
  }
}
.navbar__items {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .navbar__items {
    width: -moz-fit-content;
    width: fit-content;
  }
}
.navbar__link {
  text-decoration: none;
  color: #E1E1E1;
  justify-items: center;
  width: 100%;
  text-align: center;
  line-height: 2.8em;
}
@media screen and (min-width: 768px) {
  .navbar__link {
    margin-right: 3em;
    line-height: 5em;
  }
}
.navbar__link.active {
  color: #FFFFFF;
  border-bottom: #FFFFFF 0.3em solid;
}

@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTPro.ttf) format("ttf") local(Avenir Next LT Pro);
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProDemi.ttf) format("ttf") local(Avenir Next LT Pro Demi);
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url(../../assets/fonts/AvenirNextLTProBold.ttf) format("ttf") local(Avenir Next LT Pro Bold);
  font-weight: 700;
}
.footer {
  background-color: #323232;
  font-size: 13px;
  line-height: 18px;
  color: #FFFFFF;
  margin: 0px;
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .footer {
    display: flex;
  }
}
.footer__menu {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.footer__social {
  justify-content: space-between;
  display: flex;
  max-width: 120px;
  max-height: 20px;
}
@media screen and (min-width: 768px) {
  .footer__social {
    justify-content: left;
    display: flex;
    margin: 0px 35px;
    padding: 0px;
  }
}
.footer__social--icons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__social--icons {
    width: 200px;
    padding-left: 10px;
  }
}
.footer__management {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 80%;
}
@media screen and (min-width: 768px) {
  .footer__management {
    flex-direction: row;
  }
}
.footer__locations {
  display: flex;
  flex-direction: column;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__locations {
    width: 30%;
  }
}
.footer__header {
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer__header {
    font-size: 36px;
    line-height: 44px;
    padding-left: 36px;
  }
}
.footer__copy {
  text-decoration: none;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

.shows-subheader {
  color: #FFFFFF;
  padding: 1em 1em 1em 1em;
  font-size: 1.5em;
  font-weight: 400;
  margin-left: 0.5em;
  margin-top: 2em;
}
@media screen and (min-width: 768px) {
  .shows-subheader {
    font-size: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .shows-subheader {
    width: 1100px;
    padding: 1em 0 0.3em 0;
    margin-left: auto;
    margin-right: auto;
  }
}

.shows-hero {
  position: relative;
  background-image: url(../assets/images/hero-shows.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.shows-hero::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.5);
}
.shows-hero__container {
  display: flex;
  flex-direction: column;
  height: 50vh;
  min-height: 25em;
  position: relative;
}
@media screen and (min-width: 768px) {
  .shows-hero__container {
    min-height: 35em;
  }
}

.iframe {
  margin-left: 2em;
}

.shows-section {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .shows-section {
    padding: 24px;
  }
}
@media screen and (min-width: 1280px) {
  .shows-section {
    display: flex;
    max-width: 1020px;
    margin: auto;
  }
}
@media screen and (min-width: 1280px) {
  .shows-section #shows-section-header {
    width: auto;
  }
}
.shows-section #shows-table {
  width: 100%;
  padding: 16px;
}
@media screen and (min-width: 768px) {
  .shows-section #shows-table {
    padding: 24px 18px;
  }
}
.shows-section .show-row {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
  font-size: 1em;
}
@media screen and (min-width: 768px) {
  .shows-section .show-row {
    flex-direction: row;
    align-items: center;
    width: auto;
    justify-content: space-between;
    padding: 24px 18px;
  }
}
.shows-section .show-row__date {
  font-size: 1em;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .shows-section .show-row__date {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .shows-section .show-row__venue {
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .shows-section .show-row__location {
    font-size: 14px;
  }
}
.shows-section .show-row.selected {
  background-color: #e1e1e1;
}
.shows-section .show-row.hovered {
  background-color: #fafafa;
}
.shows-section .show-row td {
  padding: 16px;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .shows-section .show-row td {
    padding: 24px 18px;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .shows-section .show-row__button-cell {
    padding-left: 0;
  }
}
.shows-section .show-row__buy-tickets {
  height: 2.7em;
  background-color: #323232;
  color: #FFFFFF;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .shows-section .show-row__buy-tickets {
    padding: 0 2em;
    min-width: 10em;
  }
}
.shows-section .show-row__buy-tickets:hover {
  background-color: #000000; /* Darker background color on hover */
}