@import "./partials/variables";
@import "./partials/main";
@import "./partials/navbar";
@import "./partials/footer";

* {
  box-sizing: border-box;
}

.shows-subheader {
  color: $White;
  padding: $padding-headlines-mobile;
  font-size: 1.5em;
  font-weight: 400;
  margin-left: 0.5em;
  margin-top: 2em;

  @include tablet {
    font-size: $subheader-font-size-desktop;
  }

  @include desktop {
    width: 1100px;
    padding: $padding-headlines-desktop;
    margin-left: auto;
    margin-right: auto;
  }
}
.shows-hero {
  position: relative;
  background-image: url(../assets/images/hero-shows.jpg);
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(50, 50, 50, 0.5);
  }

  &__container {
    display: flex;
    flex-direction: column;
    height: 50vh;
    min-height: 25em;
    position: relative;

    @include tablet {
      min-height: 35em;
    }
  }
}
.iframe {
  margin-left: 2em;
}

.shows-section {
  width: 100%;

  @include tablet {
    padding: 24px;
  }

  @include desktop {
    display: flex;
    max-width: 1020px;
    margin: auto;
  }

  #shows-section-header {
    @include desktop {
      width: auto;
    }
  }

  #shows-table {
    width: 100%;
    padding: $table-row-padding-mobile;

    @include tablet {
      padding: $table-row-padding-desktop;
    }
  }

  .show-row {
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: $divider-combined;
    font-size: 1em;

    @include tablet {
      flex-direction: row;
      align-items: center;
      width: auto;
      justify-content: space-between;
      padding: $table-row-padding-desktop;
    }
    &__date {
      font-size: 1em;
      font-weight: 600;

      @include tablet {
        font-size: $body-copy-font-size-desktop;
      }
    }

    &__venue {
      @include tablet {
        font-size: $body-copy-font-size-desktop;
      }
    }

    &__location {
      @include tablet {
        font-size: $body-copy-font-size-desktop;
      }
    }
  }
  .show-row.selected {
    background-color: #e1e1e1;
  }

  .show-row.hovered {
    background-color: #fafafa;
  }

  .show-row td {
    padding: $table-row-padding-mobile;
    justify-content: space-between;

    @include tablet {
      padding: $table-row-padding-desktop;
      justify-content: space-between;
    }
  }

  .show-row__button-cell {
    @include tablet {
      padding-left: 0;
    }
  }

  .show-row__buy-tickets {
    height: $button-height;
    background-color: $primary-cta-background-color-default;
    color: $primary-cta-text-color-default;
    border-radius: $button-radius;
    cursor: pointer;
    width: $button-width-mobile;

    @include tablet {
      padding: $button-padding-desktop;
      min-width: $button-min-width-desktop;
    }
  }

  .show-row__buy-tickets:hover {
    background-color: $primary-cta-background-color-hover; /* Darker background color on hover */
  }
}
